In [1]:
import pandas as pd
from glob import glob

In [2]:
files = glob('../data/raw/acoes_br2/*.csv')

In [3]:
full_df = None
for f in files:
    print(f)
    df = pd.read_csv(f)
    symbol = f.split('/')[-1].split('\\')[-1].split('.')[0]
    df['Name'] = symbol
    if full_df is None:
        full_df = df
    else:
        full_df = full_df.append(df, ignore_index=True)

../data/raw/acoes_br2/QUAL3.csv
../data/raw/acoes_br2/ELET6.csv
../data/raw/acoes_br2/BBDC3.csv
../data/raw/acoes_br2/GNDI3.csv
../data/raw/acoes_br2/CPFE3.csv
../data/raw/acoes_br2/CVCB3.csv
../data/raw/acoes_br2/BEEF3.csv
../data/raw/acoes_br2/TAEE11.csv
../data/raw/acoes_br2/AZUL4.csv
../data/raw/acoes_br2/SULA11.csv
../data/raw/acoes_br2/EZTC3.csv
../data/raw/acoes_br2/GOLL4.csv
../data/raw/acoes_br2/EQTL3.csv
../data/raw/acoes_br2/GOAU4.csv
../data/raw/acoes_br2/IGTA3.csv
../data/raw/acoes_br2/IRBR3.csv
../data/raw/acoes_br2/TOTS3.csv
../data/raw/acoes_br2/ELET3.csv
../data/raw/acoes_br2/YDUQ3.csv
../data/raw/acoes_br2/MULT3.csv
../data/raw/acoes_br2/USIM5.csv
../data/raw/acoes_br2/HGTX3.csv
../data/raw/acoes_br2/WEGE3.csv
../data/raw/acoes_br2/ITUB4.csv
../data/raw/acoes_br2/CYRE3.csv
../data/raw/acoes_br2/MRVE3.csv
../data/raw/acoes_br2/KLBN11.csv
../data/raw/acoes_br2/HYPE3.csv
../data/raw/acoes_br2/CSNA3.csv
../data/raw/acoes_br2/SUZB3.csv
../data/raw/acoes_br2/ENGI11.csv
../data/raw/acoes_br2/HAPV3.csv
../data/raw/acoes_br2/BPAC11.csv
../data/raw/acoes_br2/MGLU3.csv
../data/raw/acoes_br2/PRIO3.csv
../data/raw/acoes_br2/VVAR3.csv
../data/raw/acoes_br2/CRFB3.csv
../data/raw/acoes_br2/MRFG3.csv
../data/raw/acoes_br2/BRML3.csv
../data/raw/acoes_br2/BBDC4.csv
../data/raw/acoes_br2/PCAR3.csv
../data/raw/acoes_br2/ASAI3.csv
../data/raw/acoes_br2/CIEL3.csv
../data/raw/acoes_br2/FLRY3.csv
../data/raw/acoes_br2/VIVT3.csv
../data/raw/acoes_br2/ENEV3.csv
../data/raw/acoes_br2/ITSA4.csv
../data/raw/acoes_br2/BRFS3.csv
../data/raw/acoes_br2/BBSE3.csv
../data/raw/acoes_br2/BRDT3.csv
../data/raw/acoes_br2/BRAP4.csv
../data/raw/acoes_br2/ABEV3.csv
../data/raw/acoes_br2/EMBR3.csv
../data/raw/acoes_br2/RAIL3.csv
../data/raw/acoes_br2/CCRO3.csv
../data/raw/acoes_br2/ECOR3.csv
../data/raw/acoes_br2/NTCO3.csv
../data/raw/acoes_br2/BRKM5.csv
../data/raw/acoes_br2/BTOW3.csv
../data/raw/acoes_br2/CSAN3.csv
../data/raw/acoes_br2/LCAM3.csv
../data/raw/acoes_br2/EGIE3.csv
../data/raw/acoes_br2/RADL3.csv
../data/raw/acoes_br2/PETR4.csv
../data/raw/acoes_br2/RENT3.csv
../data/raw/acoes_br2/TIMS3.csv
../data/raw/acoes_br2/SBSP3.csv
../data/raw/acoes_br2/LREN3.csv
../data/raw/acoes_br2/B3SA3.csv
../data/raw/acoes_br2/BBAS3.csv
../data/raw/acoes_br2/GGBR4.csv
../data/raw/acoes_br2/JHSF3.csv
../data/raw/acoes_br2/VALE3.csv
../data/raw/acoes_br2/SANB11.csv
../data/raw/acoes_br2/JBSS3.csv
../data/raw/acoes_br2/CMIG4.csv
../data/raw/acoes_br2/ENBR3.csv
../data/raw/acoes_br2/LAME4.csv
../data/raw/acoes_br2/PETR3.csv
../data/raw/acoes_br2/UGPA3.csv
../data/raw/acoes_br2/CPLE6.csv
../data/raw/acoes_br2/COGN3.csv

In [4]:
full_df

              date  1. open  2. high  3. low  4. close  5. volume   Name
0       2021-03-31    31.19    31.68   29.73     30.35  5179300.0  QUAL3
1       2021-03-30    30.69    31.10   30.46     31.00  3072600.0  QUAL3
2       2021-03-29    31.01    31.13   30.29     30.75  1503100.0  QUAL3
3       2021-03-26    31.92    32.26   30.67     31.11  3122200.0  QUAL3
4       2021-03-25    31.99    32.44   31.53     32.21  2140300.0  QUAL3
...            ...      ...      ...     ...       ...        ...    ...
262435  2012-06-08     2.20     2.20    2.20      2.20    51665.0  COGN3
262436  2012-06-01     2.30     2.31    2.30      2.31     2583.0  COGN3
262437  2012-03-29     3.25     3.25    3.25      3.25   170496.0  COGN3
262438  2012-03-16     3.25     3.25    3.25      3.25    60707.0  COGN3
262439  2012-03-14     3.25     3.25    3.25      3.25     7749.0  COGN3

[262440 rows x 7 columns]

In [5]:
full_df.to_csv('../data/interim/ibovfull_alphavant.csv', index=False)