In [10]:
import pandas as pd
from glob import glob

In [11]:
files = glob('../data/raw/acoes_br3/*.csv')

In [12]:
full_df = None
for f in files:
    print(f)
    df = pd.read_csv(f)
    symbol = f.split('/')[-1].split('\\')[-1].split('.')[0]
    df['Name'] = symbol
    if full_df is None:
        full_df = df
    else:
        full_df = full_df.append(df, ignore_index=True)

../data/raw/acoes_br3/QUAL3.csv
../data/raw/acoes_br3/ELET6.csv
../data/raw/acoes_br3/BBDC3.csv
../data/raw/acoes_br3/GNDI3.csv
../data/raw/acoes_br3/CPFE3.csv
../data/raw/acoes_br3/CVCB3.csv
../data/raw/acoes_br3/BEEF3.csv
../data/raw/acoes_br3/TAEE11.csv
../data/raw/acoes_br3/AZUL4.csv
../data/raw/acoes_br3/SULA11.csv
../data/raw/acoes_br3/EZTC3.csv
../data/raw/acoes_br3/GOLL4.csv
../data/raw/acoes_br3/EQTL3.csv
../data/raw/acoes_br3/GOAU4.csv
../data/raw/acoes_br3/IGTA3.csv
../data/raw/acoes_br3/IRBR3.csv
../data/raw/acoes_br3/TOTS3.csv
../data/raw/acoes_br3/ELET3.csv
../data/raw/acoes_br3/YDUQ3.csv
../data/raw/acoes_br3/MULT3.csv
../data/raw/acoes_br3/USIM5.csv
../data/raw/acoes_br3/HGTX3.csv
../data/raw/acoes_br3/WEGE3.csv
../data/raw/acoes_br3/ITUB4.csv
../data/raw/acoes_br3/CYRE3.csv
../data/raw/acoes_br3/MRVE3.csv
../data/raw/acoes_br3/KLBN11.csv
../data/raw/acoes_br3/HYPE3.csv
../data/raw/acoes_br3/CSNA3.csv
../data/raw/acoes_br3/SUZB3.csv
../data/raw/acoes_br3/ENGI11.csv
../data/raw/acoes_br3/HAPV3.csv
../data/raw/acoes_br3/BPAC11.csv
../data/raw/acoes_br3/MGLU3.csv
../data/raw/acoes_br3/PRIO3.csv
../data/raw/acoes_br3/VVAR3.csv
../data/raw/acoes_br3/CRFB3.csv
../data/raw/acoes_br3/MRFG3.csv
../data/raw/acoes_br3/BRML3.csv
../data/raw/acoes_br3/BBDC4.csv
../data/raw/acoes_br3/PCAR3.csv
../data/raw/acoes_br3/ASAI3.csv
../data/raw/acoes_br3/CIEL3.csv
../data/raw/acoes_br3/FLRY3.csv
../data/raw/acoes_br3/VIVT3.csv
../data/raw/acoes_br3/ENEV3.csv
../data/raw/acoes_br3/ITSA4.csv
../data/raw/acoes_br3/BRFS3.csv
../data/raw/acoes_br3/BBSE3.csv
../data/raw/acoes_br3/BRDT3.csv
../data/raw/acoes_br3/BRAP4.csv
../data/raw/acoes_br3/ABEV3.csv
../data/raw/acoes_br3/EMBR3.csv
../data/raw/acoes_br3/RAIL3.csv
../data/raw/acoes_br3/CCRO3.csv
../data/raw/acoes_br3/ECOR3.csv
../data/raw/acoes_br3/NTCO3.csv
../data/raw/acoes_br3/BRKM5.csv
../data/raw/acoes_br3/BTOW3.csv
../data/raw/acoes_br3/CSAN3.csv
../data/raw/acoes_br3/LCAM3.csv
../data/raw/acoes_br3/EGIE3.csv
../data/raw/acoes_br3/RADL3.csv
../data/raw/acoes_br3/PETR4.csv
../data/raw/acoes_br3/RENT3.csv
../data/raw/acoes_br3/TIMS3.csv
../data/raw/acoes_br3/SBSP3.csv
../data/raw/acoes_br3/LREN3.csv
../data/raw/acoes_br3/B3SA3.csv
../data/raw/acoes_br3/BBAS3.csv
../data/raw/acoes_br3/GGBR4.csv
../data/raw/acoes_br3/JHSF3.csv
../data/raw/acoes_br3/VALE3.csv
../data/raw/acoes_br3/SANB11.csv
../data/raw/acoes_br3/JBSS3.csv
../data/raw/acoes_br3/CMIG4.csv
../data/raw/acoes_br3/ENBR3.csv
../data/raw/acoes_br3/LAME4.csv
../data/raw/acoes_br3/PETR3.csv
../data/raw/acoes_br3/UGPA3.csv
../data/raw/acoes_br3/CPLE6.csv
../data/raw/acoes_br3/COGN3.csv

In [13]:
full_df

              Date   Open   High    Low  Close  Adj Close       Volume   Name
0       2011-06-29  13.15  15.15  13.02  15.05  10.347832   10092400.0  QUAL3
1       2011-06-30  15.18  15.18  14.60  14.90  10.244698     807400.0  QUAL3
2       2011-07-01  14.50  15.20  14.42  15.00  10.313454     351100.0  QUAL3
3       2011-07-04  14.81  14.89  14.60  14.75  10.141562     358600.0  QUAL3
4       2011-07-05  14.55  15.00  14.55  14.89  10.237821     206200.0  QUAL3
...            ...    ...    ...    ...    ...        ...          ...    ...
303786  2021-03-26   4.00   4.00   3.81   3.81   3.810000   67854200.0  COGN3
303787  2021-03-29   3.83   3.85   3.72   3.77   3.770000   42215200.0  COGN3
303788  2021-03-30   3.74   3.91   3.71   3.86   3.860000   45805200.0  COGN3
303789  2021-03-31   3.80   4.11   3.76   3.98   3.980000  125676300.0  COGN3
303790  2021-04-01   3.99   4.03   3.84   3.84   3.840000   47745900.0  COGN3

[303791 rows x 8 columns]

In [14]:
full_df.to_csv('../data/interim/ibovfull.csv', index=False)