# Data Acquisition

In [1]:
import matplotlib
import pandas as pd
import seaborn as sns



import yfinance as yf

URL = "https://www.oceans14.com.br/acoes/"
# df_tickers = pd.read_html(URL)
# df_tickers.head()

*ATENÇÃO*
Não foi possível raspar o site.
Usarei a lista que obtivemos anteriormente.

In [8]:
data01 = yf.download(["ITUB4.SA","AAPL"], start="2021-03-22", end="2021-03-24")
data02 = yf.download("AAPL", start="2021-01-01", end="2021-03-01")

data01

[*********************100%***********************]  2 of 2 completed
[*********************100%***********************]  1 of 1 completed

             Adj Close                  Close                   High  \
                  AAPL   ITUB4.SA        AAPL   ITUB4.SA        AAPL
Date
2021-03-22  123.389999  28.318043  123.389999  28.370001  123.870003
2021-03-23  122.540001  27.599360  122.540001  27.650000  124.239998

                              Low                   Open              Volume  \
             ITUB4.SA        AAPL   ITUB4.SA        AAPL ITUB4.SA       AAPL
Date
2021-03-22  28.379999  120.260002  27.500000  120.330002    27.99  111912300
2021-03-23  28.520000  122.139999  27.639999  123.330002    28.00   95467100


            ITUB4.SA
Date
2021-03-22  35786900
2021-03-23  31711800

In [15]:
try:
    from src.data_acquisition.collect_tickers_data import TickersCollector, DataCollector
except:
    os.chdir('../')
    from src.data_acquisition.collect_tickers_data import TickersCollector, DataCollector

tickers = TickersCollector(market='br', symbols_list=['ITUB4.SA', 'AZUL4.SA'], qty=1)
lst_tickers = tickers.show_tickers()
data_collector = DataCollector(symbols_list=lst_tickers, start_date='2021-03-22', end_date='2021-03-27')

chart_data = data_collector.get_data(data_type="Close")
chart_data = chart_data.round(2)
chart_data_normalised = chart_data/chart_data.iloc[0]

print(chart_data.head())
print("\n")
print(chart_data_normalised.head())

[*********************100%***********************]  2 of 2 completed
            AZUL4.SA  ITUB4.SA
Date
2021-03-22     39.43     28.37
2021-03-23     36.75     27.65
2021-03-24     36.53     27.17
2021-03-25     37.21     27.65
2021-03-26     37.37     28.07


            AZUL4.SA  ITUB4.SA
Date
2021-03-22  1.000000  1.000000
2021-03-23  0.932031  0.974621
2021-03-24  0.926452  0.957702
2021-03-25  0.943698  0.974621
2021-03-26  0.947756  0.989425

In [16]:
var_name = 'index(es)'
value_name = 'return(s)'

df = chart_data_normalised.reset_index()
df = df.melt('Date', var_name=var_name, value_name=value_name)
df.dropna(how='any', inplace=True)
df.head(10)

        Date index(es)  return(s)
0 2021-03-22  AZUL4.SA   1.000000
1 2021-03-23  AZUL4.SA   0.932031
2 2021-03-24  AZUL4.SA   0.926452
3 2021-03-25  AZUL4.SA   0.943698
4 2021-03-26  AZUL4.SA   0.947756
5 2021-03-22  ITUB4.SA   1.000000
6 2021-03-23  ITUB4.SA   0.974621
7 2021-03-24  ITUB4.SA   0.957702
8 2021-03-25  ITUB4.SA   0.974621
9 2021-03-26  ITUB4.SA   0.989425

In [ ]:
var_name: str = 'index(es)', value_name: str = 'return(s)'