# Data Acquisition

In [36]:
import matplotlib
import pandas as pd
import seaborn as sns

import yfinance as yf

pd.options.display.float_format = "{:,.2f}".format

*ATENÇÃO*
Não foi possível raspar o site.
Usarei a lista que obtivemos anteriormente.

In [37]:
data01 = yf.download(["^BVSP"], start="2021-03-22", end="2021-03-24")

data01["market_value"] = data01["Volume"]*data01["Close"]
data01.head()

data01

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,market_value
Date,,,,,,,
2021-03-22,"116,222.00","116,225.00","113,620.00","114,979.00","114,979.00",8160600,"938,297,627,400.00"
2021-03-23,"114,977.00","115,599.00","113,062.00","113,262.00","113,262.00",8301500,"940,244,493,000.00"

In [41]:
try:
    from src.data_acquisition.collect_tickers_data import TickersCollector, DataCollector
except:
    os.chdir('../')
    from src.data_acquisition.collect_tickers_data import TickersCollector, DataCollector

tickers = TickersCollector(market='br', symbols_list=['ITUB4.SA', 'AZUL4.SA'], qty=1)
lst_tickers = tickers.show_tickers()
data_collector = DataCollector(symbols_list=lst_tickers, start_date='2021-03-22', end_date='2021-03-27')

chart_data = data_collector.get_data(data_type="Close")
chart_data = chart_data.round(2)
chart_data_normalised = chart_data/chart_data.iloc[0]

print(chart_data.head())
print("\n")
print(chart_data_normalised.head())

[*********************100%***********************]  2 of 2 completed
            AZUL4.SA  ITUB4.SA
Date
2021-03-22     39.43     28.37
2021-03-23     36.75     27.65
2021-03-24     36.53     27.17
2021-03-25     37.21     27.65
2021-03-26     37.37     28.07


            AZUL4.SA  ITUB4.SA
Date
2021-03-22      1.00      1.00
2021-03-23      0.93      0.97
2021-03-24      0.93      0.96
2021-03-25      0.94      0.97
2021-03-26      0.95      0.99

In [42]:
var_name = 'index(es)'
value_name = 'return(s)'

df = chart_data_normalised.reset_index()
df = df.melt('Date', var_name=var_name, value_name=value_name)
df.dropna(how='any', inplace=True)
df.head(10)

        Date index(es)  return(s)
0 2021-03-22  AZUL4.SA       1.00
1 2021-03-23  AZUL4.SA       0.93
2 2021-03-24  AZUL4.SA       0.93
3 2021-03-25  AZUL4.SA       0.94
4 2021-03-26  AZUL4.SA       0.95
5 2021-03-22  ITUB4.SA       1.00
6 2021-03-23  ITUB4.SA       0.97
7 2021-03-24  ITUB4.SA       0.96
8 2021-03-25  ITUB4.SA       0.97
9 2021-03-26  ITUB4.SA       0.99

In [43]:
components = pd.read_html("https://pt.wikipedia.org/wiki/Lista_de_companhias_citadas_no_Ibovespa")[0]
components["Setor"] = components["Setor"].str.replace(" e ", " / ", regex=False)
components["Setor"] = components["Setor"].str.split(" / ")
components

,Código,Ação,Setor,Tipo,Site
0,ABEV3,AMBEV S/A,"[Consumo não Cíclico, Bebidas, Cervejas, Refri...",ON,http://ri.ambev.com.br
1,AZUL4,AZUL,"[Bens Industriais, Transporte, Transporte Aéreo]",PN N2,https://www.voeazul.com.br/
2,B3SA3,B3,"[Financeiro, Outros, Serviços Financeiros Dive...",ON NM,http://www.b3.com.br/
3,BBAS3,BANCO DO BRASIL,"[Financeiro, Outros, Intermediários Financeiro...",ON ERJ NM,http://www.bb.com.br/
4,BBDC3,BRADESCO,"[Financeiro, Outros, Intermediários Financeiro...",ON N1,http://www.bradesco.com.br/
...,...,...,...,...,...
70,VALE3,VALE,"[Materiais Básicos, Mineração, Minerais Metáli...",ON NM,http://www.vale.com/
71,VIVT4,TELEF BRASIL,[Telecomunicações],PN,http://www.telefonica.com.br/
72,VVAR3,VIAVAREJO,"[Consumo Cíclico, Comércio]",ON NM,https://www.viavarejo.com.br/
73,WEGE3,WEG,"[Bens Industriais, Máquinas, Equipamentos]",ON NM,https://www.weg.net/
74,YDUQ3,YDUQS PART,"[Consumo Cíclico, Serviços Educacionais]",ON NM,https://www.yduqs.com.br/

In [45]:
file = "./data/raw/df_valor_mercado_b3_202103.csv"
df_valor_mercado = pd.read_csv(file, delimiter='\t', decimal=',', thousands='.')
df_valor_mercado.head()

   Mês/Ano  N.º empresas  Valor de mercado em R$  Valor de mercado em US$
0  01/1998            45      193,441,400,000.00       172,146,840,000.00
1  02/1998            45      203,195,970,000.00       179,755,810,000.00
2  03/1998            48      224,271,340,000.00       197,178,950,000.00
3  04/1998            48      222,212,640,000.00       194,190,890,000.00
4  05/1998            50      186,326,890,000.00       161,952,970,000.00

In [49]:
file = "./data/raw/df_pib_valor_corrente_202103.csv"
df_pib = pd.read_csv(file, delimiter=';')
df_pib.tail()

        mes_ano      trimestre_ano    valor_brl
295  01/08/2020  3º trimestre 2020 1,891,735.27
296  01/09/2020  3º trimestre 2020 1,891,735.27
297  01/10/2020  4º trimestre 2020 2,003,500.27
298  01/11/2020  4º trimestre 2020 2,003,500.27
299  01/12/2020  4º trimestre 2020 2,003,500.27

In [52]:
bc_code = '1207'
url_bc = "http://api.bcb.gov.br/dados/serie/bcdata.sgs.24363/dados?formato=json"+bc_code

df_pib = pd.read_json(url)
df_pib.head()

ValueError: Expected object or value