# Data Acquisition

In [1]:
import pandas as pd
import yfinance as yf

URL = "https://www.oceans14.com.br/acoes/"
# df_tickers = pd.read_html(URL)
# df_tickers.head()

*ATENÇÃO*
Não foi possível raspar o site.
Usarei a lista que obtivemos anteriormente.

In [2]:
data01 = yf.download(["ITUB4.SA","AAPL"], start="2021-01-01", end="2021-03-01")
data02 = yf.download("AAPL", start="2021-01-01", end="2021-03-01")

[*********************100%***********************]  2 of 2 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
data01.head()

             Adj Close                  Close                   High  \
                  AAPL   ITUB4.SA        AAPL   ITUB4.SA        AAPL
Date
2021-01-04  129.216919  30.638491  129.410004  30.900000  133.610001
2021-01-05  130.814514  30.440186  131.009995  30.700001  131.740005
2021-01-06  126.411102  31.332567  126.599998  31.600000  131.050003
2021-01-07  130.724655  32.552158  130.919998  32.830002  131.630005
2021-01-08  131.852966  32.542244  132.050003  32.820000  132.630005

                              Low                   Open           \
             ITUB4.SA        AAPL   ITUB4.SA        AAPL ITUB4.SA
Date
2021-01-04  31.990000  126.760002  30.840000  133.520004    31.98
2021-01-05  31.059999  128.429993  30.170000  128.889999    30.73
2021-01-06  32.060001  126.379997  30.790001  127.720001    30.98
2021-01-07  33.060001  127.860001  31.500000  128.360001    31.65
2021-01-08  33.439999  130.229996  32.430000  132.429993    32.93

                 Volume
                   AAPL    ITUB4.SA
Date
2021-01-04  143301900.0  31347800.0
2021-01-05   97664900.0  28249800.0
2021-01-06  155088000.0  43061900.0
2021-01-07  109578200.0  46129800.0
2021-01-08  105158200.0  52532500.0

In [16]:
try:
    from src.data_acquisition.collect_tickers_data import TickersCollector, DataCollector
except:
    os.chdir('../')
    from src.data_acquisition.collect_tickers_data import TickersCollector, DataCollector

tickers = TickersCollector(market='br', symbols_list=['ITUB4.SA'], qty=81)
tickers.add_market()
lst_tickers = tickers.show_tickers()
data_collector = DataCollector(symbols_list=lst_tickers, start_date='2021-01-01', end_date='2021-03-01')

chart_data = data_collector.get_data(data_type="Close")
chart_data = chart_data.round(2)
chart_data.head()

[*********************100%***********************]  83 of 83 completed

,ABEV3.SA,AZUL4.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BEEF3.SA,BPAC11.SA,BRAP4.SA,...,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,VIVT3.SA,VVAR3.SA,WEGE3.SA,YDUQ3.SA,^BVSP,^IBX50
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-04,15.48,37.73,60.98,37.59,23.60,26.43,29.39,10.04,93.08,66.50,...,27.76,24.12,14.94,91.46,45.94,16.17,74.62,34.00,118558.0,19604.95
2021-01-05,15.81,38.20,61.10,37.20,23.47,26.25,28.84,9.84,92.38,67.80,...,27.63,23.92,15.10,93.00,45.55,16.22,79.20,34.17,119223.0,19760.08
2021-01-06,16.13,36.67,60.10,38.05,24.06,27.12,28.37,9.70,89.40,71.00,...,26.32,23.63,15.83,96.05,45.04,15.49,81.30,32.81,119851.0,19958.27
2021-01-07,16.05,36.05,61.78,39.56,24.65,27.84,28.97,9.65,89.34,76.38,...,26.25,24.35,16.59,102.32,43.90,15.08,84.66,33.22,121956.0,20436.20
2021-01-08,16.53,36.60,62.69,39.79,24.46,27.60,29.87,9.73,92.17,76.77,...,28.00,24.98,16.51,102.00,45.05,15.53,89.78,34.35,125077.0,20897.47

In [17]:
chart_data.columns

Index(['ABEV3.SA', 'AZUL4.SA', 'B3SA3.SA', 'BBAS3.SA', 'BBDC3.SA', 'BBDC4.SA',
       'BBSE3.SA', 'BEEF3.SA', 'BPAC11.SA', 'BRAP4.SA', 'BRDT3.SA', 'BRFS3.SA',
       'BRKM5.SA', 'BRML3.SA', 'BTOW3.SA', 'CCRO3.SA', 'CIEL3.SA', 'CMIG4.SA',
       'COGN3.SA', 'CPFE3.SA', 'CPLE6.SA', 'CRFB3.SA', 'CSAN3.SA', 'CSNA3.SA',
       'CVCB3.SA', 'CYRE3.SA', 'ECOR3.SA', 'EGIE3.SA', 'ELET3.SA', 'ELET6.SA',
       'EMBR3.SA', 'ENBR3.SA', 'ENEV3.SA', 'ENGI11.SA', 'EQTL3.SA', 'EZTC3.SA',
       'FLRY3.SA', 'GGBR4.SA', 'GNDI3.SA', 'GOAU4.SA', 'GOLL4.SA', 'HAPV3.SA',
       'HGTX3.SA', 'HYPE3.SA', 'IGTA3.SA', 'IRBR3.SA', 'ITSA4.SA', 'ITUB4.SA',
       'JBSS3.SA', 'JHSF3.SA', 'KLBN11.SA', 'LAME4.SA', 'LCAM3.SA', 'LREN3.SA',
       'MGLU3.SA', 'MRFG3.SA', 'MRVE3.SA', 'MULT3.SA', 'NTCO3.SA', 'PCAR3.SA',
       'PETR3.SA', 'PETR4.SA', 'PRIO3.SA', 'QUAL3.SA', 'RADL3.SA', 'RAIL3.SA',
       'RENT3.SA', 'SANB11.SA', 'SBSP3.SA', 'SULA11.SA', 'SUZB3.SA',
       'TAEE11.SA', 'TIMS3.SA', 'TOTS3.SA', 'UGPA3.SA', 'USIM5.SA', 'VALE3.SA',
       'VIVT3.SA', 'VVAR3.SA', 'WEGE3.SA', 'YDUQ3.SA', '^BVSP', '^IBX50'],
      dtype='object')

In [ ]:
chart_data.head()