# Data Acquisition

In [1]:
import pandas as pd
import yfinance as yf

URL = "https://www.oceans14.com.br/acoes/"
# df_tickers = pd.read_html(URL)
# df_tickers.head()

*ATENÇÃO*
Não foi possível raspar o site.
Usarei a lista que obtivemos anteriormente.

In [3]:
data01 = yf.download(["ITUB4.SA","AAPL"], start="2021-01-01", end="2021-03-01")
data02 = yf.download("AAPL", start="2021-01-01", end="2021-03-01")

[*********************100%***********************]  2 of 2 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
def get_data(self):
    for symbol in self.symbols_list:
        data = yf.download(symbol, start=self.start_date, end=self.end_date)

In [4]:
try:
    from src.data_acquisition.collect_tickers_data import TickersCollector, DataCollector
except:
    os.chdir('../')
    from src.data_acquisition.collect_tickers_data import TickersCollector, DataCollector

tickers = TickersCollector(market='br', symbols_list=['ITUB4.SA'], qty=10)
tickers.add_market()
lst_tickers = tickers.show_tickers()
data_collector = DataCollector(symbols_list=lst_tickers, start_date='2021-01-01', end_date='2021-03-01')

chart_data = data_collector.get_data(data_type="Close")
chart_data = chart_data.round(2)
chart_data.head()

Tickers selected: ['EMBR3.SA', 'ABEV3.SA', 'CSAN3.SA', 'ENBR3.SA', 'COGN3.SA', 'ELET3.SA', 'BRDT3.SA', 'TAEE11.SA', 'BBDC3.SA', 'ITUB4.SA', '^BVSP', '^IBX50']
[*********************100%***********************]  12 of 12 completed

,ABEV3.SA,BBDC3.SA,BRDT3.SA,COGN3.SA,CSAN3.SA,ELET3.SA,EMBR3.SA,ENBR3.SA,ITUB4.SA,TAEE11.SA,^BVSP,^IBX50
Date,,,,,,,,,,,,
2021-01-04,15.48,23.60,21.85,4.70,79.24,35.63,8.37,19.56,30.90,33.00,118558.0,19604.95
2021-01-05,15.81,23.47,22.10,4.67,79.49,34.71,8.57,19.10,30.70,33.06,119223.0,19760.08
2021-01-06,16.13,24.06,21.78,4.53,79.30,34.15,8.90,19.06,31.60,33.12,119851.0,19958.27
2021-01-07,16.05,24.65,22.18,4.62,82.39,33.91,8.88,18.56,32.83,32.15,121956.0,20436.20
2021-01-08,16.53,24.46,22.80,4.82,82.25,34.98,8.81,19.36,32.82,32.85,125077.0,20897.47

In [ ]:
chart_data.head()